/home/views/__pycache__
/home/__pycache__
/credma/__pycache__
/credma/__pycache__/__init__.cpython-311.pyc
/home/models/__pycache__
/home/migrations/__pycache__
/venv
/.gitignore
/.vs
/db.sqlite3
home/migrations/0016_alter_project_last_update_alter_student_suspend_till.py
home/migrations/0017_alter_project_last_update_alter_student_suspend_till.py
home/migrations/0018_alter_student_suspend_till.py
db.sqlite3
