/home/views/__pycache__
/home/__pycache__
/credma/__pycache__
/credma/__pycache__/__init__.cpython-311.pyc
/home/models/__pycache__
/home/migrations/__pycache__
/venv
/.gitignore
/.vs
/db.sqlite3
home/migrations/0016_alter_project_last_update_alter_student_suspend_till.py
home/migrations/0017_alter_project_last_update_alter_student_suspend_till.py
home/migrations/0018_alter_student_suspend_till.py
db.sqlite3
home/migrations/0021_project_description_1_project_description_10_and_more.py
home/migrations/0022_rename_taks_1_project_task_1_and_more.py
home/migrations/0023_alter_project_duration_1_alter_project_duration_10_and_more.py
home/migrations/0024_alter_project_last_update_alter_project_stipend_1_and_more.py
home/migrations/0025_alter_project_last_update_alter_student_suspend_till.py
home/migrations/0026_alter_project_last_update_alter_project_stipend_and_more.py
home/migrations/0027_alter_project_last_update_alter_project_stipend_and_more.py
