{% extends "e_base.html" %}

{% block title %}
Add New Project
{% endblock title %}

{% block content %}

<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="p-4 m-4">
           <input type="submit" class=" btn btn-outline-dark border border-dark rounded-4" data-bs-target="#carouselExample" data-bs-slide="next" style="margin-left: 27vw;" value="     Upload Project Task-wise -->   ">
           <br><br>
                  <div class="col-lg-5 mx-auto border rounded pt-4">
                      <h3 class="alert alert-light border rounded mx-3 mt-2 mb-4">Upload New Project</h3>
                      <form method="post">
                          
                          {% if error %}
                          <div class="alert alert-danger mx-3 my-2" role="alert">
                              {{error}}
                          </div> 
                          {% endif %}
          
                          {% csrf_token %}  
                                       
                          <!-- Project Name -->
                          <div class="form-group mx-3 my-2">
                              <label for="">Project Name</label>
                              <input type="text" name="name" placeholder="Enter Project name" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                            </div>
      
                            
                            <!-- Skill Req -->
                            <div class="form-group mx-3 my-2">
                              <label for="">Skill(s) Required</label>
                              <input type="text" name="skill" placeholder="Skills Required" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                            </div>
          
                          <!-- Company -->
                          <div class="form-group mx-3 my-2">
                            <label for="">Company</label>
                            <select class="form-select btn btn-outline-dark w3-animate-zoom" name='company' aria-label="Default select example" required>
                              <option disabled selected>Select Compnay</option>
                              {% for company in company %}
                              <option value="{{company.id}}">{{company.Name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                          
                          <!-- Project Image -->
                          <div class="form-group mx-3 my-2">
                            <label for="">Project Details</label>
                            <input type="file" name="detail" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                          </div>
                          
                          <!-- Project Description -->
                          <div class="form-group mx-3 my-2">
                              <label for="">Project Description</label>
                              <textarea name="description" placeholder="Enter Project description (maximum length 200 characters)" class="form-control form-control-sm border border-dark w3-animate-zoom" maxlength="200" required></textarea>
                            </div>
      
                          <!-- Perks -->
                          <div class="form-group mx-3 my-2">
                              <label for="">Perk(s)</label>
                              <input type="text" name="perk" placeholder="perks" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                            </div>
      
                          <!-- Stipend -->
                          <div class="form-group mx-3 my-2">
                              <label for="">Stipend</label>
                              <input type="number" name="stipend" placeholder="Enter stipend in rupees ₹" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                            </div>
      
                            <!-- Project Duration -->
                          <div class="form-group mx-3 my-2">
                            <label for="">Deadline</label>
                            <input type="date" name="duration" placeholder="Enter deadline " class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                          </div>
                            
                            <input type="text" name="empid" value="{{employee.id}}" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" hidden>
      
      
          
                          <div class="form-group mx-3 mt-5 mb-3 w3-animate-zoom">
                            <input class="btn btn-outline-dark border border-dark rounded-4" type="submit" value="Add Project">
                          </div>
          
                      </form>
                  </div>
        </div>
      
      </div>

      <div class="carousel-item">

        <div class="p-4 m-4">
          <input type="submit" class=" btn btn-outline-dark border border-dark rounded-4" data-bs-target="#carouselExample" data-bs-slide="prev" style="margin-left: 27vw;" value="  <--  Upload Complete Project     ">
          <br><br>
          <div class="col-lg-5 mx-auto border rounded pt-4">
              <h3 class="alert alert-light border rounded mx-3 mt-2 mb-4">Upload New Project</h3>
              <form method="post">
                  
                  {% if error %}
                  <div class="alert alert-danger mx-3 my-2" role="alert">
                      {{error}}
                  </div> 
                  {% endif %}
  
                  {% csrf_token %}  
                               
                  <!-- Project Name -->
                  <div class="form-group mx-3 my-2">
                      <label for="">Project Name</label>
                      <input type="text" name="name" placeholder="Enter Project name" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    
                    <!-- Skill Req -->
                    <div class="form-group mx-3 my-2">
                      <label for="">Skill(s) Required</label>
                      <input type="text" name="skill" placeholder="Skills Required" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>
  
                  <!-- Company -->
                  <div class="form-group mx-3 my-2">
                    <label for="">Company</label>
                    <select class="form-select btn btn-outline-dark w3-animate-zoom" name='company' aria-label="Default select example" required>
                      <option disabled selected>Select Compnay</option>
                      {% for company in company %}
                      <option value="{{company.id}}">{{company.Name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  
                  <!-- Project Image -->
                  <div class="form-group mx-3 my-2">
                    <label for="">Project Details</label>
                    <input type="file" name="detail" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                  </div>
                  
                  <!-- Project Description -->
                  <div class="form-group mx-3 my-2">
                      <label for="">Project Description</label>
                      <textarea name="description" placeholder="Enter Project description (maximum length 200 characters)" class="form-control form-control-sm border border-dark w3-animate-zoom" maxlength="200" required></textarea>
                    </div>

                  <!-- Perks -->
                  <div class="form-group mx-3 my-2">
                      <label for="">Perk(s)</label>
                      <input type="text" name="perk" placeholder="perks" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                  <!-- Stipend -->
                  <div class="form-group mx-3 my-2">
                      <label for="">Stipend</label>
                      <input type="number" name="stipend" placeholder="Enter stipend in rupees ₹" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <hr>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 1 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Front-end" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 1 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 1</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 2 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Back-end" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 2 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 2</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 3 Name</label>
                      <input type="text" name="task1" placeholder="e.g., SEO" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 3 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 3</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 4 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Content-Writting" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 4 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 4</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 5 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Logo Designing" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 5 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 5</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 6 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Database Management" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 6 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 6</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 7 Name</label>
                      <input type="text" name="task1" placeholder="e.g., Digital Marketing" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 7 Description</label>
                      <input type="text" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 7</label>
                        <input type="date" name="tdesc1" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 8 Name</label>
                      <input type="text" name="task8" placeholder="e.g., Tester" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 8 Description</label>
                      <input type="text" name="tdesc8" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 8</label>
                        <input type="date" name="t8dead" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 9 Name</label>
                      <input type="text" name="task9" placeholder="e.g., DevOps" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 9 Description</label>
                      <input type="text" name="tdesc9" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 9</label>
                        <input type="date" name="t9dead" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 10 Name</label>
                      <input type="text" name="task10" placeholder="e.g., Automation" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 10 Description</label>
                      <input type="text" name="tdesc10" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 10</label>
                        <input type="date" name="t10dead" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 11 Name</label>
                      <input type="text" name="task11" placeholder="e.g., Digital Media" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 11 Description</label>
                      <input type="text" name="tdesc11" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 11</label>
                        <input type="date" name="t11dead" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 12 Name</label>
                      <input type="text" name="task12" placeholder="e.g., UI/UX" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Task 12 Description</label>
                      <input type="text" name="tdesc12" placeholder="Provide Complete description of the task" class="form-control form-control-sm border border-secondary w3-animate-zoom" required>
                    </div>

                    <div class="form-group mx-3 my-2">
                      <label for="">Deadline for task 12</label>
                        <input type="date" name="t12dead" placeholder="Provide Complete description of the task" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" required>
                    </div>

                    <hr>
                    
                    <input type="text" name="empid" value="{{employee.id}}" class="form-control form-control-sm btn btn-outline-secondary w3-animate-zoom" hidden>


  
                  <div class="form-group mx-3 mt-5 mb-3 w3-animate-zoom">
                    <input class="btn btn-outline-dark border border-dark rounded-4" type="submit" value="Add Project">
                  </div>
  
              </form>
          </div>
        </div>
      
      </div>
    </div>
    
  </div>

</div>
{% endblock content %}