{% extends "base.html" %}

{% block title %}
Project Description
{% endblock title %}

{% block content %}
    
    <div class="border border-2 rounded-5 p-4 col-lg-8" id="centa">
        <div id="main-head">
            <h2>{{project.Name}}</h2>
            <span class="m-3" style="color: rgb(61, 61, 61);">CREDMA</span>
        </div>
        <br><br>
        <div id="about">
            <b>About Project</b><br>
            {% for des in description %}
            <span class="about">{{des}}</span>
            {% endfor %}
        </div>
        <br><br>
        
        <div id="skill_perk" style="display: flex;">

            <div id="skill" style="margin-left: 3vw;">
                <b>Skill(s) Required</b>
                    <ul>
                    {% for skill in skill %}
                        <li>{{skill}}</li>
                    {% endfor %}
                        
                    </ul>
            </div>
            
            <div id="perk" style="margin-left: 45vw; position: absolute;">
                <b>Perk(s)</b>
                    <ul>
                    {% for perk in perk %}
                        <li>{{perk}}</li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
<br>
        <br>

        <div id="detail_dead" style="display: flex;">
            <div id="detail" style="margin-left: 3vw;">
                <strong>Project Details</strong>
                <br>
                <a href="/docu/download/{{project.Project}}" download><img src="/docu/download/static/images/pdflogo.webp" alt="pdf" height="110vh"></a>
            </div>
    <br>
    
            <div id="deadline" style="margin-left: 45vw; position: absolute;">
                <strong>Deadline</strong><br><br>
                {{project.Duration}}
            </div>
        </div>
<br>
            <div id="deadline" style="margin-left: 3vw;">
                <strong>Stipend</strong><br><br>
                ₹ {{project.Stipend}}
            </div>

<br><br><br>
        <form action="/apply/" method="post" class="btn-block">
            {% csrf_token %}
    {% if request.session.employee  %}

    {% elif applied %}
            <button class="btn btn-outline-primary px-5" id="apply" disabled>Applied</button>
    {% else %}
            <button type="submit" class="btn btn-outline-primary px-5" id="apply">Apply</button>
            <input type="text" name="apply" value="{{project.id}}" hidden>
    {% endif %}

            
          </form>

      </div>


{% endblock content %}