{% extends "e_base.html" %}

{% block title %}
Student Profile
{% endblock title %}

{% block content %}

<div class="border border-2 rounded-5 p-4 col-lg-8" id="centa">
        <div id="main-head" style="display: flex;">
            <h2>{{Name}}</h2>
            <img class="border border-2 border-dark rounded-circle" src="{{student.Photo.url}}" alt="Profile_Photo" height="200vh" style="margin-left: 45vw; position: absolute;">
        </div>

        <br><br><br><br><br><br>

        <div id="about">
            <b>Email: </b>
            <span class="about">{{student.Email}}</span>
        </div>

        <br><br><br>
        
        <div id="skill_perk" style="display: flex;">
            
            <div id="age" style="margin-left:3vw; width:30;">
            <b>Age:</b>
            {{student.Age}} yrs
            </div>

            <div id="perk" style="margin-left: 40vw; position: absolute;">
                <b>Gender: </b>
                    {{student.Gender}}
            </div>
        </div>
<br>
<br>

        <div id="detail_dead" style="display: flex;">
            <div id="detail" style="margin-left: 3vw;">
                <strong>Country: </strong>
                {{student.Country}}
            </div>
            <div id="deadline" style="margin-left: 40vw; position: absolute;">
                <strong>Contact no: </strong>
                {{student.Phone}}
            </div>
        </div>
<br>
<br>

        <div id="detail_dead" style="display: flex;">
            <div style="margin-left:3vw;">
                <strong>State: </strong>
                {{student.State}}
            </div>

    <br>
            <div id="deadline" style="margin-left: 40vw; position: absolute;">
                <strong>City: </strong>
                {{student.City}}
            </div>
        </div>

<br><br>
            <div style="margin-left:3vw;">
                <strong>Address: </strong>
                {{student.Address}}
            </div>

<br><br><br><br>
            <div style="margin-left:3vw;">
                <strong>University Name: </strong>
                {{student.University_name}}
            </div>

<br><br>
            <div style="margin-left:3vw;">
                <strong>University Roll no: </strong>
                {{student.Roll_no}}
            </div>

<br><br>
            <div style="margin-left:3vw;">
                <strong>Course Name: </strong>
                {{student.Course}}
            </div>

<br><br>
            
            <div style="margin-left:3vw;">
                <strong>Pursuing/Completed: </strong>
                {{student.Passed}}
            </div>

<br><br><br><br>
            <div id="detail_dead" style="display: flex;">
                <div style="margin-left:3vw; width: 30vw;">
                    <strong>Skills:</strong><br>
                    <ul>
                    {% for skill in skill %}
                        <li>{{skill}}</li>
                    {% endfor %}
                    </ul>
                </div>

                <div style="margin-left: 40vw; position: absolute;">
                    <strong>Resume: </strong><br>
                <a href="/docu/download/{{student.Resume}}" download><img src="/docu/download/static/images/pdflogo.webp" alt="pdf" height="110vh"></a>  
                </div>
            </div>

<br><br><br>
            {% if student.Social1 %}
            <div style="margin-left:3vw;">
                <strong>Social profile: </strong>
                <a href="http://{{student.Social1}}" style="text-decoration: none; color: blue;" target="_blank"><i>{{student.Social1}}</i></a>
            </div>
            {% else %}
            
            {% endif %}
            
            <br><br>
            {% if student.Social2 %}
            <div style="margin-left:3vw;">
                <strong>Social profile: </strong>
                <a href="http://{{student.Social2}}" style="text-decoration: none; color: blue;" target="_blank"><i>{{student.Social2}}</i></a>
            </div>
            {% else %}
            
            {% endif %}
            
            <br><br>
            {% if student.Social3 %}
            <div id="deadline" style="margin-left:3vw;">
                <strong>Social profile: </strong>
                <a href="http://{{student.Social3}}" style="text-decoration: none; color: blue;" target="_blank"><i>{{student.Social3}}</i></a>

            </div>
            {% else %}
            {% endif %}
<br>
            <!-- Button trigger modal -->
            {% if project.Student %}
            <button type="button" class="btn btn-outline-dark px-5" style="margin:0vw 15vw 0vw 26vw;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>
                Already Allocated
            </button>
            
            {% else %}
            <button type="button" class="btn btn-outline-dark px-5" style="margin-left:27vw;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Allocate
            </button>
            {% endif %}
      </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Allocation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you Sure you want to allocate this Project:<b><i>{{project.Name}}</i></b> to <b>{{student.Name}}</b>
      </div>
        <form action="/allocate/" method="post" class="btn-block">
      <div class="modal-footer flex-row">
                  {% csrf_token %}
                  
                  <input type="text" name="allocate" value="{{student.id}}" hidden>
                  <input type="text" name="pro_id" value="{{project.id}}" hidden>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-outline-primary"> Confirm </button>
                  
      </div>
                </form>
    </div>
  </div>
</div>

{% endblock content %}